<web-app>
    <context-param> 
        <description>Vị trí upload slider</description> 
        <param-name>slider-upload</param-name> 
        <param-value>C:/QH/Smart-Watch/web/assets/slider/</param-value> 
    </context-param>
    <context-param> 
        <description>Vị trí upload đồng hồ</description> 
        <param-name>product-upload</param-name> 
        <param-value>C:/QH/Smart-Watch/web/assets/product/</param-value> 
    </context-param>
</web-app>